<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926544606239-2ncije9gmhgsv268nuke8a6u5mv8ejql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926544606239-2ncije9gmhgsv268nuke8a6u5mv8ejql</string>
	<key>API_KEY</key>
	<string>AIzaSyB5-5EDtPBjplqWTiGvA4uFZdqhF--LfDE</string>
	<key>GCM_SENDER_ID</key>
	<string>926544606239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsdevexperiment.ticketz</string>
	<key>PROJECT_ID</key>
	<string>cw-bsmm-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>cw-bsmm-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926544606239:ios:14bef092d06263e80e912a</string>
</dict>
</plist>